@import "compass/css3";

$font-color: #000000;
$font-color-dark: #FFFFFF;

$nova-blue : #008dd3;
$nova-light-blue : #4DAFE0; //for gradient start

$light-gray : #eee; // for backgrounds
$medium-gray : #ccc; // for borders

$textfield-error-background : rgb(250, 255, 189);

$form-textfield-error-color : #b94a48;